
.everything-wrapper{
    display: flex;
    flex-direction: column;
}
.hundredVhSection{
    height: 100vh;
    background: url('../pictures/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar h2{
    margin: 0px;
}
.loginSectionWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.loginSection{
    background: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: 5px black solid;
    box-shadow: 3px 15px 24px 5px rgba(0,0,0,0.88);
    width: 300px;
}
.loginSection h2{
    text-align: center;
    margin-bottom: 30px;
}
.loginSection input{
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    border: black 2px solid;
}
.loginSection input.empty{
    border-color: red;
}
.loginSection input.notEmpty{
    border-color: green;
}
.notAllowed{
    opacity: 0.5;
}
.notAllowed:hover{
    cursor: not-allowed;
}
#errorMessage{
    color: red;
    text-align: center;
}